:host {
    top: 0;
    right: 0;
}
.settings {
    height: 64px;
    margin: 16px;
}
.menu {
    .intro {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: #191919;
    }
}