<div class="game">
    <img id="background-image" src="https://fominao.github.io/chess-angular/assets/images/backgrounds/background_1.png" (load)="initBoard()">
    <!-- <app-highlights
    *ngIf="loaded"
    [width] = "width"
    [style.top]="top + 'px'"
    [style.left]="left + 'px'"
    [style.height]="height + 'px'"
    [style.width]="width + 'px'"
    ></app-highlights> -->
    <app-highlights
    *ngIf="loaded"
    [style.top]="top + 'px'"
    [style.left]="left + 'px'"
    [style.height]="height + 'px'"
    [style.width]="width + 'px'"
    ></app-highlights>
    <app-board
        *ngIf="loaded"
        [width] = "width"
        [style.top]="top + 'px'"
        [style.left]="left + 'px'"
        [style.height]="height + 'px'"
        [style.width]="width + 'px'"
    ></app-board>
        <app-settings-menu></app-settings-menu>
</div>