.highlights {
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    .highlight {
        &.active {
            animation: glowing 2s infinite ease;
            filter: blur(1px);
        }
        &.path {
            animation: glowing-path 2s infinite ease;
            filter: blur(1px);
        }
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 7px 2px #bf773f inset;
    }
    50% {
        box-shadow: 0 0 7px 4px #bf773f inset;
    }
    100% {
        box-shadow: 0 0 7px 2px #bf773f inset;
    }
}
@keyframes glowing-path {
    0% {
        box-shadow: 0 0 7px 2px #c0e04b inset;
    }
    50% {
        box-shadow: 0 0 7px 4px #c0e04b inset;
    }
    100% {
        box-shadow: 0 0 7px 2px #c0e04b inset;
    }
}